html, body {
  height: 100%
}

#content-wrap {
  min-height: 100%;
  position: relative;
}

footer {
  bottom: 0;
}


@media (min-width: 992px) {
  .main-card {
    display: none;
  }

}

@media (max-width: 992px) {
  .main-table {
    display: none;
  }
}
